/*
Syntax error: Colors must have either three or six digits: '#EFEF'
        on line 2 of variables.scss

1: $base-dark: #e8696d;
2: $base-light: #EFEF

Backtrace:
variables.scss:2
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/script/lexer.rb:282:in `color'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/script/lexer.rb:239:in `token'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/script/lexer.rb:218:in `read_token'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/script/lexer.rb:169:in `peek'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/script/parser.rb:480:in `try_tok'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/script/parser.rb:228:in `unary_plus'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/script/parser.rb:209:in `times_div_or_mod'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/script/parser.rb:209:in `plus_or_minus'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/script/parser.rb:209:in `relational'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/script/parser.rb:209:in `eq_or_neq'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/script/parser.rb:209:in `and_expr'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/script/parser.rb:209:in `or_expr'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/script/parser.rb:298:in `space'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/script/parser.rb:283:in `interpolation'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/script/parser.rb:246:in `expr'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/script/parser.rb:470:in `assert_expr'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/script/parser.rb:49:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/scss/parser.rb:1021:in `sass_script'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/scss/parser.rb:513:in `variable'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/scss/parser.rb:552:in `block_child'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/scss/parser.rb:545:in `block_contents'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/scss/parser.rb:82:in `stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/scss/parser.rb:27:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/engine.rb:342:in `_to_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/engine.rb:315:in `_render'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/engine.rb:262:in `render'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:201:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/plugin.rb:81:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/exec.rb:443:in `watch_or_update'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/exec.rb:326:in `process_result'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/exec.rb:41:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/exec.rb:21:in `parse!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/bin/scss:9:in `<top (required)>'
/usr/bin/scss:23:in `load'
/usr/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Colors must have either three or six digits: '#EFEF'\A         on line 2 of variables.scss\A \A 1: $base-dark: #e8696d;\A 2: $base-light: #EFEF"; }
