.about {
    text-align: center;
    .icon {
        font-size: 4em;
        color: #444;
        text-align: center;
    }

    h2 {
        font-weight: 300;
    }

    @media (max-width: 768px) {
        .col-md-4 {
            margin-bottom: 40px;
        }
    }
}