body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: "Open Sans", sans-serif;
    color: #333;
}

h1 {
    font-weight: 300;
    font-size: 3em;
}

.area {
    padding: 40px 0;
    background: $base-light;

    &.area-red {
        background: $base-dark;
    }
}

.btn.btn-primary {
    background: $base-dark;
    border: none;

    &:hover {
        background: darken($base-dark, 5%);
    }
}