.bubble {
  position: relative;
  width: 350px;
  height: 145px;
  padding: 10px;
  background: #FFFFFF;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: #000 solid 2px; }
  .bubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 20px 15px 0;
    border-color: transparent #FFFFFF;
    display: block;
    width: 0;
    z-index: 1;
    left: -20px;
    top: 34px; }
  .bubble:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 16px 21px 16px 0;
    border-color: transparent #000;
    display: block;
    width: 0;
    z-index: 0;
    left: -23px;
    top: 33px; }
