.social-hub {
    width: 100%;
    margin-top: 80px;

    ul {
        list-style: none;
        position: relative;
        float: left;
        display: block;
        left: 50%;

        li {
            position: relative;
            float: left;
            right: 50%;
            display: block;
            margin: 0 20px;

            @media (max-width: 768px) {
                margin: 20px;
            }

            &.twitter-link {
                a {
                    padding: 18px 20px;
                }
            }

            &.github-link {
                a {
                    padding: 18px 20px;
                }
            }

            &.instagram-link {
                a {
                    padding: 18px 22px;
                }
            }

            &.blog-link {
                a {
                    padding: 18px 24px;
                }
            }

            a {
                display: block;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
                color: #FFF;
                line-height: 0px;
                padding: 18px;
                border: 1px solid #FFF;
                -webkit-transition: background .5s ease-in;
                transition: background .5s ease;

                &:hover {
                    color: $base-dark;
                    background: rgba(255, 255, 255, 0.8);
                }

                &:focus,
                &:active {
                    background: #FFF;
                }

                i.fa {
                    font-size: 4em;
                    line-height: 1;
                }
            }
        }
    }
}