.timeline {
    header {
        margin-bottom: 100px;

        h2 {
            font-weight: 300;
            color: #FFF;
            text-align: center;
        }
    }

    ul {
        margin: 0px auto;
        max-width: 100%;
        overflow: hidden;
        height: auto;
        position: relative;
        padding: 0px;
        list-style-type: none;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gEVFA45ZO73yAAAACZpVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVAgb24gYSBNYWOV5F9bAAAADElEQVQI12P4//8/AAX+Av7czFnnAAAAAElFTkSuQmCC);
        background-position: 50% 0;
        background-repeat: repeat-y;

        @media (max-width: 768px) {
            background: none;
        }

        *,
        *:after,
        &:after,
        *:before,
        &:before {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        li {
            width: 45%;
            position: relative;
            -webkit-transition: background .5s ease-in;
            transition: background .5s ease;
            color: #FFF;
            margin: 80px 0;

            &:first-of-type {
                margin: 0 0 80px 0;
            }

            &:last-of-type {
                margin: 80px 0 0 0;
            }

            div {
                time {
                    color: darken(#FFF, 20%);
                }

                h3 {
                    line-height: 1;
                    margin: 0;
                    color: #FFF;
                    font-weight: 300;
                    text-transform: uppercase;
                    margin: 8px 0 12px 0;
                }

                p {
                    line-height: 1.2;
                    color: #FFF;
                }
            }

            &:hover {
                .dot {
                    -webkit-transition: border .5s ease-in;
                    transition: border .5s ease-in;
                    border: 5px solid mix($base-dark, #FFF, 50%);
                }
            }

            &.education {
                left: 55%;
                text-align: left;

                .dot {
                    left: -66px;
                }
            }

            &.work {
                text-align: right;


                .dot {
                    right: -68px;
                }
            }

            .dot {
                position: absolute;
                width: 20px;
                height: 20px;
                -webkit-border-radius: 100%;
                -moz-border-radius: 100%;
                border-radius: 100%;
                top: 25%;
                background: #FFF;
            }

            @media (max-width: 768px) {
                width: 100%;

                &.work,
                &.education {
                    text-align: left;
                    left: 0px;
                }

                .dot {
                    display: none;
                }
            }
        }
    }
}