body {
    position: relative;
}

body:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-top: 0 solid transparent;
    border-bottom: 600px solid transparent;
    border-left: 200px solid rgba(242, 239, 234, 0.8);
}

body:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-top: 0 solid transparent;
    border-bottom: 100px solid transparent;
    border-left: 300px solid rgba(142, 139, 134, 0.2);
    top: 0;
}

main {
    position: relative;
    max-width: 680px;
    width: 80%;
    margin: 0 auto;
    padding: 5rem 0;
    color: #222222;
    font-family: 'Josefin Slab', serif;
    font-weight: 400;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 2.827rem;
    margin-bottom: 1.5rem;
    transition: text-shadow .25s ease-in-out;
}

p {
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 2rem;
}

a {
    text-decoration: none;
    color: #666666;
    border-bottom: 1px solid #44CCFF;
    transition: border .25s ease-in-out;
}

a:hover {
    color: #F7567;
    border-bottom: 1px solid #222222;
}

strong {
    font-weight: 700;
}

h1::selection {
    text-shadow: 2px 2px 0 #F7567C;
}

h1::-moz-selection {
    text-shadow: 2px 2px 0 #F7567C;
}

::selection {
    background: rgba(242, 239, 234, .75);
    color: #010400;
}

::-moz-selection {
    background: rgba(242, 239, 234, .75);
    color: #010400;
}

nav { text-align: center; }

nav a {
    color: #222222;
    font-size: 1.75rem;
    border-bottom: none;
    transition: color .25s ease-in-out;
}

nav a:hover {
    border-bottom: none;
    color: #343434;
}

nav ul li {
    display: inline-block;
    margin: 0 1rem;
}

nav ul li:first-of-type {
    margin-left: 0;
}
